[run]
branch = False
source = roi

omit =
    */tests/*
    */roi/app.py
    */roi/__main__.py
    */roi/ui/dashboard.py
    */roi/core/device_discovery.py
    */roi/core/hardware.py
    */roi/can/rmcanview.py
    */roi/tools/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
