# Project
notes.txt

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Pytest / Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
